<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/styleHome.css">
    <link rel="shortcut icon" href="/styles/imgs/ico.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="page">
        <h1>Seja bem-vindo, <%= username %>!</h1>

        <h2>Lista de Usuários</h2>
        <ul style="list-style-type: none;" id="list">
            <% users.forEach(user => { %>
                <li><b>Nome:</b> <%= user.username %> | <b>Email:</b> <%= user.email %>></li>
            <% }) %>
        </ul>
    </div>

    <div class="page">
        <h3>Deseja deletar algum usuário?</h3>
        <input id="emailInput" placeholder="Escreva o email do usuário">
        <br>
        <button type="button" onclick="deleteUser()">Deletar</button>
    </div>

    <script>
        async function deleteUser() {
            const email = document.getElementById('emailInput').value;

            if (!email) {
                alert("Por favor, insira um email.");
                return;
            }

            try {
                const response = await fetch('/view/home', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email }),//transforma em JSON o email
                });

                if (response.ok) {
                    alert('Usuário deletado com sucesso!');
                    window.location.reload();
                } else {
                    const errorMessage = await response.text();
                    alert(errorMessage);
                }
            } catch (error) {
                alert("Erro ao deletar o usuário.");
            }
        }
    </script>
</body>
</html>