<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=""></script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="shortcut icon" href="/styles/imgs/ico.ico" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Página de Registro</title>
</head>
<body>
<div class="loginPage">
    <h1>Register</h1>
    <form action="/view/register" method="POST">
        <div class="register">
            <input type="text" name="username" placeholder="Name" id="register" required>
        </div>
        <div class="email">
            <input type="email" name="email" placeholder="Email (Não utilize seu email real)" id="email" required>
        </div>
        <div class="password">
            <input type="password" name="password" placeholder="Password" id="password" required minlength="8">
        </div>
        <div class="buttons">
            <button type="submit">Register</button>
        </div>
    </form>
    <div class="loginRedirect">Already has an account? <a href="/view/login"><b>Login</b></a>.</div>
</div>
</body>
</html>